.inkfree {
    font-family: 'Ink Free';
}
.cascadia {
    font-family: 'Cascadia Code'
}
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트를 적용할 요소 선택 */
.Regular {
    font-family: 'RixYeoljeongdo_Regular', sans-serif;
}